---
title: Open Fort Wayne
---

%header.main
  .row
    .small-12.columns
      %h1.light OpenFW
      %h4.light Promoting transparency through open data and civic hacking in Fort Wayne, Indiana.

%section#about
  .row
    .small-12.medium-6.columns
      %h3 About OpenFW
      %p OpenFW uses technology to promote government transparency, openness, accountability, and accessibility. Our mission is to empower the citizens of Fort Wayne through data.

    .small-12.medium-6.columns.text-center
      = image_tag "FWSeal.png"

%section#projects
  .row
    .small-12.columns
      %h3 Projects
      %p OpenFW projects can be viewed at <a href="https://github.com/OpenFW">Github</a>.
